<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Content API example</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        {% stylesheets 'bundles/webappdemo/css/*' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="container" class="container" data-reactid=".1wnwvdthjwg" data-react-checksum="-180177855">
    <div class="cms clearfix" data-reactid=".1wnwvdthjwg.0">
        <div class="jumbotron" data-reactid=".1wnwvdthjwg.0.0">
            <div class="container text-center" data-reactid=".1wnwvdthjwg.0.0.0">
                <h1 data-reactid=".1wnwvdthjwg.0.0.0.0">React / Fluxxor / SF</h1>
                <p data-reactid=".1wnwvdthjwg.0.0.0.1">Complex web apps made easy</p>
            </div>
        </div>
        <h3 data-reactid=".1wnwvdthjwg.0.1">Content API example</h3><span data-reactid=".1wnwvdthjwg.0.2">Waiting for response...</span>
    </div>
</div>
{% block javascripts %}
    {% javascripts '@WebAppDemoBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    <!-- Google Analytics -->
    <script>
    </script>
    {% endjavascripts %}
{% endblock %}
</body>

</html>
